:host {
  /**
   * @prop --scale: Size transformation factor.
   *
   * If you want to make the eyes greater or smaller as a whole, setting this
   * property is the simplest way. `1` (100%) is the default.
   */
  --scale: 1;
  /**
   * @prop --rim-color: Color of the eye vitreous rim - the border around the vitreous.
   *
   * `rgba(0,0,0,1)` is the default.
   */
  --rim-color: rgba(0,0,0,1);
  /**
   * @prop --rim-style: Line style of the eye rim - the border around the vitreous.
   *
   * `solid` is the default.
   */
   --rim-style: solid;
  /**
   * @prop --rim-thickness: Thickness of the eye rim - the border around the vitreous.
   *
   * Be careful not to make it too thick. `7px` is the default.
   */
  --rim-thickness: calc(var(--scale) * 7px);
  /**
   * @prop --eye-color: Color of the eye vitreous.
   *
   * `#fff` is the default.
   */
  --eye-color: #fff;
  /**
   * @prop --eye-width: Length of the x-axis of the eye ellipsis.
   *
   * Excludes the eye rim. `110px` is the default.
   */
  --eye-width: calc(var(--scale) * 110px);
  /**
   * @prop --eye-height: Length of the y-axis of the eye ellipsis.
   *
   * Excludes the eye rim. `150px` is the default.
   */
  --eye-height: calc(var(--scale) * 150px);
  /**
   * @prop --pupil-color: Color of the eye pupil.
   *
   * `#000` is the default.
   */
  --pupil-color: #000;
  /**
   * @prop --iris-color: Color of the eye iris.
   *
   * `#000` is the default.
   */
  --iris-color: #000;
  /**
   * @prop --iris-breadth: Breadth of the eye irs outside of the pupil.
   *
   * Be careful not to make it greater than the diameter io the iris.
   * `7px` is the default.
   */
  --iris-breadth: calc(var(--scale) * 7px);
  /**
   * @prop --iris-diameter: Diameter of the eye irs.
   *
   * Be careful not to make it greater than the length of either of the axes
   * of the elliptical shape of the eye. `25px` is the default.
   */
  --iris-diameter: calc(var(--scale) * 25px);
  display: inline-block;
  width: calc(var(--eye-width) * 2 + var(--rim-thickness) * 2 + 1);
  height: calc(var(--eye-height) + var(--rim-thickness) * 2);
}

.eye {
  width: var(--eye-width);
  height: var(--eye-height);
  background: var(--eye-color);
  border-radius: 50%;
  border-width: var(--rim-thickness);
  border-style: var(--rim-style);
  border-color: var(--rim-color);
  position: relative;
  display: inline-block;
  cursor: none;
}

.iris {
  background: var(--pupil-color);
  width: calc(var(--iris-diameter) - var(--iris-breadth) * 2);
  height: calc(var(--iris-diameter) - var(--iris-breadth) * 2);
  border-radius: 50%;
  border: var(--iris-breadth) solid var(--iris-color);
  position: absolute;
}
